---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import * as joinUs from "../../content/en/join-us.md";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const Content = joinUs.Content;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const itemClass = function (path: string) {
	const pathname = new URL(Astro.request.url).pathname;

	return pathname === path ? "text-module__tab is-active" : "text-module__tab";
};
---

<ArticleLayout title={joinUs.frontmatter.headline} article={joinUs}>
	<div class="text-module__head">
		<blockquote class="text-module__headline">
			<div>{joinUs.frontmatter.headline2}</div>
			<p>------Professor Robert Bramkamp, Film Department, HFBK Hamburg.</p>
		</blockquote>
		<ul class="text-module__tabs">
			<li class={itemClass(`/${lang}/join-us/`)}>
				<a href={`/${lang}/join-us/`} class="text-module__tab-link" title={t("nav.sponsor")}>
					<span class="text-module__tab-link-text">
						{t("nav.sponsor")}
					</span>
				</a>
			</li>
			<li class={itemClass(`/${lang}/become-volunteer/`)}>
				<a href={`/${lang}/become-volunteer/`} class="text-module__tab-link" title={t("nav.volunteer")}>
					<span class="text-module__tab-link-text">
						{t("nav.volunteer")}
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="text-module__content">
		<Content />
	</div>
</ArticleLayout>

<style lang="scss">

	body {
		font-family: "Roboto", sans-serif;
	}
</style>