---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer">
	<div class="footer__content-wrapper">
		<div class="footer__newsletter">
			<div class="footer__newsletter-detail">
				{t("footer.newsletter")}
			</div>
			<form class="footer__newsletter-form">
				<input type="email" />
				<button type="submit" class="btn btn--primary">{t("footer.subscribe")}</button>
			</form>
		</div>
		<div class="footer__sponsor">
			<a href="#" class="link link--with-chevron">{t("footer.sponsors")}</a>
		</div>
	</div>
	<div class="footer__nav-wrapper">
		<div class="footer__nav-headline">{t("footer.menu")}</div>
		<ul class="footer__nav-list">
			<li class="footer__nav-item">
				<a href={`/${lang}/`} class="footer__nav-link" title={t("nav.home")}>
					<span class="footer__nav-link-text">{t("nav.home")}</span>
				</a>
			</li>
			<li class="footer__nav-item">
				<a
					href={`/${lang}/call-for-film/`}
					class="footer__nav-link"
					title={t("nav.callForFilm")}
				>
					<span class="footer__nav-link-text">
						{t("nav.callForFilm")}
					</span>
				</a>
			</li>
			<li class="footer__nav-item">
				<a
					href={`/${lang}/about/`}
					class="footer__nav-link"
					title={t("nav.about")}
				>
					<span class="footer__nav-link-text">
						{t("nav.about")}
					</span>
				</a>
			</li>
			<li class="footer__nav-item">
				<a
					href={`/${lang}/partner/`}
					class="footer__nav-link"
					title={t("nav.partner")}
				>
					<span class="footer__nav-link-text">
						{t("nav.partner")}
					</span>
				</a>
			</li>
			<li class="footer__nav-item">
				<a
					href={`/${lang}/volunteer/`}
					class="footer__nav-link"
					title={t("nav.volunteer")}
				>
					<span class="footer__nav-link-text">
						{t("nav.volunteer")}
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer__nav-wrapper">
		<div class="footer__nav-headline">{t("footer.contact")}</div>
		<ul class="footer__nav-list">
			<li class="footer__nav-item">
				<a class="footer__nav-link" href="mailto:info@cmfk.com">
					<span class="footer__nav-link-text"> info@cmfk.com</span>
				</a>
			</li>
			<li class="footer__nav-item">
				<a href="https://cmfk-hamburg.com/" class="footer__nav-link">
					<span class="footer__nav-link-text"> cmfk-hamburg.com</span>
				</a>
			</li>
		</ul>
	</div>
</footer>

<style lang="scss">
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";

	.footer {
        @include container;
		display: grid;
        margin-top: pxToRem(80px);
		padding: pxToRem(48px) 5%;
        border-radius: pxToRem(90px);
		background: black;
		color: white;

        @include breakpoint(xs-sm) {
            grid-template-columns: 1fr;
        }

        @include breakpoint(md) {
            grid-template-columns: 1fr 1fr;
        }

        @include breakpoint(lg) {
            grid-template-columns: 2fr 1fr 1fr;
        }
	}

    .footer__content-wrapper {
        @include breakpoint(md) {
            grid-column: 1 / 3;
        }
    }

	.footer__newsletter-detail {
		@include f-body-1;
	}

	.footer__newsletter-form {
		display: flex;
        justify-content: space-between;
		margin-top: pxToRem(18px);
        padding-left: pxToRem(12px);
        border-radius: pxToRem(90px);
        background-color: rgba(255, 255, 255, 0.15);
        max-width: pxToRem(360px);

        @include breakpoint(xs-sm) {
            width: 100%;
        }
        @include breakpoint(md-xl) {
            width: 75%;
        }

		input[type="email"] {
            border: 0;
			background-color: transparent;
            color: $c-white;
            width: 100%;

            &:focus {
                outline: none;
            }
		}

        .btn {
            white-space: nowrap;
            cursor: pointer;
        }
	}

    .footer__sponsor {
        margin-top: pxToRem(36px);
    }

	.footer__nav-headline {
		@include f-body-2;
		margin: 0;
	}

	.footer__nav-list {
		list-style: none;
		margin-top: pxToRem(16px);
		padding: 0;
	}

	.footer__nav-item {
		margin: pxToRem(8px) 0;
	}

	.footer__nav-link {
		color: $c-white;

		&:hover {
			text-decoration: underline;
		}
	}
</style>
