---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const itemClass = function (path: string) {
	const pathname = new URL(Astro.request.url).pathname;

	return pathname === path ? "nav__item is-active" : "nav__item";
};

const subItemClass = function (path: string) {
	const pathname = new URL(Astro.request.url).pathname;

	return pathname.startsWith(path) ? "nav__item is-active" : "nav__item";
};

---

<nav role="navigation" class="nav">
	<ul class="nav__list">
		<li class={itemClass(`/${lang}/`)}>
			<a href={`/${lang}/`} class="nav__link" title={t("nav.home")}>
				<span class="nav__link-text">
					#
					<!-- {t("nav.home")} -->
				</span>
			</a>
		</li>
		<!-- <li class={itemClass(`/${lang}/call-for-film/`)}>
			<a
				href={`/${lang}/call-for-film/`}
				class="nav__link"
				title={t("nav.callForFilm")}
			>
				<span class="nav__link-text">
					{t("nav.callForFilm")}
				</span>
			</a>
		</li> -->
		<li class={subItemClass(`/${lang}/about/`)}>
			<a
				href={`/${lang}/about/`}
				class="nav__link"
				title={t("nav.about")}
			>
				<span class="nav__link-text">
					{t("nav.about")}
				</span>
			</a>
		</li>
		<li class={subItemClass(`/${lang}/program/`)}>
			<a
				href={`/${lang}/program/`}
				class="nav__link"
				title={t("nav.program")}
			>
				<span class="nav__link-text">
					{t("nav.program")}
				</span>
			</a>
		</li>
		<li class={subItemClass(`/${lang}/tickets/`)}>
			<a
				href={`/${lang}/tickets/`}
				class="nav__link"
				title={t("nav.tickets")}
			>
				<span class="nav__link-text">
					{t("nav.tickets")}
				</span>
			</a>
		</li>
		<li class={subItemClass(`/${lang}/join-us/`)}>
			<a href={`/${lang}/join-us/`} class="nav__link" title={t("nav.joinUs")}>
				<span class="nav__link-text">
					{t("nav.joinUs")}
				</span>
			</a>
		</li>
		<!-- <li class={subItemClass(`/${lang}/archive/`)}>
			<a
				href={`/${lang}/archive/`}
				class="nav__link"
				title={t("nav.archive")}
			>
				<span class="nav__link-text">
					{t("nav.archive")}
				</span>
			</a>
		</li> -->
	</ul>
	<div></div>
</nav>

<style lang="scss">
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";

	.nav {
		position: fixed;
		z-index: 100;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		padding: pxToRem(6px);
		height: fit-content;

		@include breakpoint(xs-sm) {
			bottom: pxToRem(24px);
		}

		@include breakpoint(md-xl) {
			bottom: pxToRem(80px);
		}
		@include breakpoint(lg) {
			bottom: pxToRem(72px);
		}

		&.is-sticky {
			position: sticky;
		}
	}

	.nav__list {
		@include blur-background;
		@include rounded-border;
		box-sizing: border-box;
		display: inline-flex;
		flex-wrap: nowrap;
		list-style: none;
		margin: 0;
		padding: pxToRem(4px);
		overflow: hidden;
		pointer-events: all;
	}

	.nav__item {
		@include f-btn;

		@include breakpoint(md-xl) {
			margin-inline: pxToRem(12px);
		}

		&.is-active {
			@include rounded-border;
			background-color: $c-green;
			color: $c-white;
		}
	}

	.nav__link {
		@include rounded-border;
		display: flex;
		align-items: center;
		padding-inline: pxToRem(12px);
		height: pxToRem(40px);
		transition: all $d-anim ease-in-out;
		color: $c-black;
		background-color: transparent;

		.is-active & {
			color: $c-white;
		}

		&:hover {
			cursor: pointer;
		}
	}
</style>
