---
import { getLangFromUrl } from "../i18n/utils";
import "normalize.css/normalize.css";
import Footer from "../components/Footer.astro";
import MetaFooter from "../components/MetaFooter.astro";
import Nav from "../components/Nav.astro";
import Stage from "../components/Stage.astro";

export interface Props {
	title: string;
	article: any;
}

const { title, article } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---


<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Chinese Film Festival Hamburg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="program-body">
		<Nav />
	    <div class="page-wrapper">
			<Stage headline={article.frontmatter.headline} overline={article.frontmatter.overline} imageSrcS={article.frontmatter.imageSrcS} imageSrcM={article.frontmatter.imageSrcM} imageSrcL={article.frontmatter.imageSrcL}/>
			<main style="overflow: auto">
				<div class="program__links">
					<div class="program__intro">Check out the festival program and timetable in our flyer. Detailed Festival Program is on the way!</div>
					<a href="/assets/2024CFFH_flyer.pdf" download>
						<img src="/images/2024-cover.jpg" alt="Program-chinese-film-2024" style="max-width: 300px;"/>
						<div class="overlay">
							<div class="text">Click to download</div>
						</div>
					</a>
					<!-- <a href="/assets/program-chinese-film-2024.pdf">test</a> -->
				</div>
				<!-- <slot /> -->
			</main>
			<Footer />
		</div>
        <MetaFooter />
	</body>
</html>

<style lang="scss" is:global>
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";
	@import "../styles/global.scss";
</style>

<script type="text/javascript">

	const $pageWrapper = document.querySelector('.page-wrapper');
	const $metaFooter = document.querySelector('.meta-footer');
	

	const onIntersect = (entries) => {
		if (entries[0].isIntersecting) {
			$pageWrapper.classList.add('shrink');

		} else {
			$pageWrapper.classList.remove('shrink');
		}
	};

	const observer = new window.IntersectionObserver(onIntersect);
	observer.observe($metaFooter);
</script>