---
import { getLangFromUrl } from "../i18n/utils";
import "normalize.css/normalize.css";
import Footer from "../components/Footer.astro";
import MetaFooter from "../components/MetaFooter.astro";
import Nav from "../components/Nav.astro";
import Stage from "../components/Stage.astro";

export interface Props {
	title: string;
	article: any;
}

const { title, article } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---


<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Chinese Film Festival Hamburg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="program-body">
		<Nav />
	    <div class="page-wrapper">
			<Stage headline={article.frontmatter.headline} overline={article.frontmatter.overline} imageSrcS={article.frontmatter.imageSrcS} imageSrcM={article.frontmatter.imageSrcM} imageSrcL={article.frontmatter.imageSrcL}/>
			<main style="overflow: auto">
				<div class="program__links">
					<a class="btn btn--primary" href="/assets/program-chinese-film-2024.pdf" download>
						Program <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
							<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
							<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
						  </svg>
					</a>
				</div> 
				<slot />
			</main>
			<Footer />
		</div>
        <MetaFooter />
	</body>
</html>

<style lang="scss" is:global>
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";
	@import "../styles/global.scss";
</style>

<script type="text/javascript">

	const $pageWrapper = document.querySelector('.page-wrapper');
	const $metaFooter = document.querySelector('.meta-footer');
	

	const onIntersect = (entries) => {
		if (entries[0].isIntersecting) {
			$pageWrapper.classList.add('shrink');

		} else {
			$pageWrapper.classList.remove('shrink');
		}
	};

	const observer = new window.IntersectionObserver(onIntersect);
	observer.observe($metaFooter);
</script>